In [3]:
from decomp_simple import read_model
from decomp_simple import get_info
from decomp_simple import decomp_model
from decomp_simple import solve_decomp_with_slack
from decomp_simple import solve_obj_0
from decomp_simple import solve_all_add_slack
import pandas as pd

In [4]:
#instance = ['10teams','bab5', '22433']
instance = ['atm20-100']
nBlocks_lst = [2,3,4,5,6,7,8,9,10]
HGtype = 'r' # hypergraph type: 'r' row-net

first = True
result_all = pd.DataFrame()
for i in range(len(instance)):
    first = True
    for nBlocks in nBlocks_lst:
        if nBlocks == 2 and first:
            m, m_new, m_new1, m_new2 = read_model(instance[i])
            A, x, con, sizeA, nonzeros, RHS, SENSE, vars = get_info(m)
            
            obj_to_0_time, obj_to_0_status  = solve_obj_0(m_new1)
            all_add_slack_time, all_add_slack_status  = solve_all_add_slack(A, vars, SENSE, RHS)
            first = False
            print('Obj to 0 solving time:', obj_to_0_time)
            print('All adding slack variable solving time:', all_add_slack_time)
            
            #continue
            
        add_slack, num_linking_cons, lowest_count, highest_count = decomp_model(A, sizeA, con, nonzeros, vars, HGtype, instance[i], nBlocks)
        feasibility_time, feasibility_status = solve_decomp_with_slack(A, vars, RHS, SENSE, add_slack)
        
        print('Linking Constraint Feasibility Problem solving time:', feasibility_time)
        result = pd.DataFrame()
        result['instance'] = [instance[i]]
        result['Number of blocks'] = [nBlocks]
        result['Hypergraph type'] = [HGtype]
        result['Num linking cons'] = [num_linking_cons]
        result['Largest block'] = [highest_count]
        result['Smallest block'] = [lowest_count]
        result['Linking constraint add slack time'] = [feasibility_time]
        result['Linking constraint add slack status'] = [feasibility_status]
        result['Obj to 0 time'] = [obj_to_0_time]
        result['Obj to 0 status'] = [obj_to_0_status]
        result['All add slack time'] = [all_add_slack_time]
        result['All add slack status'] = [all_add_slack_status]
        result_all = pd.concat([result_all, result])
        
result_all

Read MPS format model from file instances/atm20-100.mps.gz
Reading time = 0.05 seconds
atm20-100: 4380 rows, 6480 columns, 58878 nonzeros
Read MPS format model from file instances/atm20-100.mps.gz
Reading time = 0.04 seconds
atm20-100: 4380 rows, 6480 columns, 58878 nonzeros
Read MPS format model from file instances/atm20-100.mps.gz
Reading time = 0.12 seconds
atm20-100: 4380 rows, 6480 columns, 58878 nonzeros
Read MPS format model from file instances/atm20-100.mps.gz
Reading time = 0.11 seconds
atm20-100: 4380 rows, 6480 columns, 58878 nonzeros
Set parameter Seed to value 77
Gurobi Optimizer version 9.5.2 build v9.5.2rc0 (mac64[x86])
Thread count: 4 physical cores, 8 logical processors, using up to 8 threads
Optimize a model with 4380 rows, 6480 columns and 58878 nonzeros
Model fingerprint: 0x112d3696
Variable types: 4260 continuous, 2220 integer (2220 binary)
Coefficient statistics:
  Matrix range     [1e-01, 1e+04]
  Objective range  [0e+00, 0e+00]
  Bounds range     [1e+00, 6e+03]
  RHS range        [1e+00, 5e+04]
Presolve removed 418 rows and 620 columns
Presolve time: 0.28s
Presolved: 3962 rows, 5860 columns, 55418 nonzeros
Variable types: 3862 continuous, 1998 integer (1998 binary)

Root relaxation: objective 0.000000e+00, 2537 iterations, 0.15 seconds (0.15 work units)

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0    0.00000    0  165          -    0.00000      -     -    0s
     0     0    0.00000    0  222          -    0.00000      -     -    1s
     0     0    0.00000    0  202          -    0.00000      -     -    1s
     0     0    0.00000    0   72          -    0.00000      -     -    2s
     0     0    0.00000    0   78          -    0.00000      -     -    2s
     0     0    0.00000    0   80          -    0.00000      -     -    3s
     0     0    0.00000    0  210          -    0.00000      -     -    3s
     0     0    0.00000    0   72          -    0.00000      -     -    4s
     0     0    0.00000    0   89          -    0.00000      -     -    4s
     0     0    0.00000    0   71          -    0.00000      -     -    4s
     0     0    0.00000    0   65          -    0.00000      -     -    4s
     0     2    0.00000    0   60          -    0.00000      -     -    5s
   184   329    0.00000   60  202          -    0.00000      -   574   11s
   336   479    0.00000   80  330          -    0.00000      -   531   15s
   989  1165    0.00000   71  122          -    0.00000      -   363   20s
  1263  1169    0.00000  153   44          -    0.00000      -   339   25s
  1271  1175    0.00000   23   32          -    0.00000      -   337   30s
  1281  1181    0.00000  155    7          -    0.00000      -   334   35s
  1296  1194    0.00000   18  149          -    0.00000      -  41.4   40s

In [6]:
result_all

,instance,Number of blocks,Hypergraph type,Num linking cons,Largest block,Smallest block,Linking constraint add slack time,Linking constraint add slack status,Obj to 0 time,Obj to 0 status,All add slack time,All add slack status
0,atm20-100,2,r,4280,3240,3240,56.549696,2,5045.4902,2,93.681098,2
0,atm20-100,3,r,4230,2223,2088,101.281098,2,5045.4902,2,93.681098,2
0,atm20-100,4,r,4280,1620,1620,56.523796,2,5045.4902,2,93.681098,2
0,atm20-100,5,r,4280,1296,1296,56.542949,2,5045.4902,2,93.681098,2
0,atm20-100,6,r,4160,1119,1044,91.599219,2,5045.4902,2,93.681098,2
0,atm20-100,7,r,4177,972,881,52.075019,2,5045.4902,2,93.681098,2
0,atm20-100,8,r,4078,825,795,101.057349,2,5045.4902,2,93.681098,2
0,atm20-100,9,r,4134,759,684,100.615520,2,5045.4902,2,93.681098,2
0,atm20-100,10,r,4280,648,648,57.088893,2,5045.4902,2,93.681098,2